<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @quotation.content %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @quotation.source_url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quotation.author %>
</p>

<p>
  <strong>User:</strong>
  <%= @quotation.user %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
